# node_modules
node_modules

# packeges
*.tgz

# node_modules
template/node_modules

# dist static files
template/out

# routes 
template/public/routes

# next.js
template/.next/

# production
template/build
